.ant-message {
  z-index: 9000 !important;
}

.ant-modal-mask {
  z-index: 5400 !important;
}

.ant-modal-wrap {
  z-index: 5500 !important;
}

.ant-popover {
  z-index: 5500 !important;
}

.ant-select-dropdown,
.ant-dropdown {
  z-index: 6000 !important;
}

.ant-dropdown-menu-submenu {
  z-index: 6050 !important;
}

.ant-tooltip {
  z-index: 6000 !important;
}

.ant-dropdown,
.ant-dropdown-menu,
.ant-modal-root,
.ant-select-item,
.ant-select-dropdown {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ant-checkbox-wrapper {
  align-items: center;
}